/* generic style */

html,body{
  font-size: 18px;
  color: white;
  font-family: "Helvetica", sans-serif;
}

.container{
  max-width: 960px;
  margin: auto;
}
/* logo section */
header{
  background-color: black;
}

header .container{
  display: flex;
  align-items: center;
  font-size: 1rem;
}

header img{
  height: 1.5rem;
  padding: 0.66rem 0.5rem;
}

/* new product section */

#highlight{
  height: 25rem;
  background-image: url("../img/moto.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.newproduct{
  display: block; <!-- useless -->
  width: 20rem;
  padding: 2rem 0 2rem 3rem;
  background-color: black;
  position: relative;
  top: 9rem;
}

.newproduct h2{
  font-size: 1rem;
  font-weight: bold;
}

.newproduct h1{
  font-size: 1.75rem;
  font-weight: bold;
  padding-top: 0.25rem;
}

/*menu 1024px up */

#menu1024up{
  background-color: firebrick;
}

#menu1024up .container{
  display: flex;
  justify-content: space-around;
  padding: 0.75rem 0;
}

/*menu 1024px down */

#menu1024down{
  background-color: firebrick;
}

#menu1024down .container{
  display: flex;
  justify-content: space-around;
  padding: 0.75rem 0;
}

/* main product & info */

#products{
  display: flex;
  justify-content: space-between;
  margin-top:3rem;
}

#products div{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 3px solid black;
  width: 30%;
  overflow: hidden;
}

#products img{
  width:9rem;
  height: auto;
  /* max-width: 100%; */
  padding: 2rem 0;
  display: block;
  margin: auto;
}

#products p{
  background-color: black;
  width: 100%;
  text-align: center;
  padding:0.5rem 0;
}

#info{
  display: flex;
  justify-content: space-between;
  padding-top: 3rem;
  padding-bottom: 4rem;
}

#info div{
  width: 35%;
}

.title{
  background-color: black;
  padding: 1rem 0 1rem 2rem;
}

.details{
  color: black;
  padding-top: 0.25rem;
}

footer{
  background-color: black;
}

footer div{
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

@media only screen and (min-width:1024px){
#menu1024down{
  display: none;
}
}

@media only screen and (max-width:1024px){
#menu1024up{
  display: none;
}

#products div{
  width: 45%;
  justify-content: center;
}

#products > div:nth-child(3){
  display: none;
}
}

@media only screen and (max-width:470px){

  #highlight{
    height: 15rem;
  }
  .newproduct{
    display: block;
    width: 100%;
    padding: 1rem 0 1rem 2rem;
    background-color: black;
    position: relative;
    top: 10rem;
  }
  .newproduct h2{
    font-size: 0.77rem;
  }

  .newproduct h1{
    font-size: 1rem;
  }

  #products{
    justify-content: center;
  }

  #products div, #info div{
    width: 90%;
  }

  #products > div:nth-child(2){
    display: none;
  }

  #info{
    flex-direction: column;
    align-items: center;
  }

  #info div{
    margin-top: 0.5rem;
  }

  footer div{
    justify-content: center;
  }
}
