body{
  text-align: center;
  font-family: helvetica;
}

.banner{
  background-image: url(../img/flatiron.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: white
}


h1{
  font-size: 70px;
  font-weight: bold;
}

h2{
  font-size: 32px;
  font-weight: bold;
}

h3{
  font-size: 23px;
  font-weight: bold;
}

.info p{
  font-size: 14px;
}

.cta{
  font-size: 18px;
  color: white;
}

.footer{
  background-color: dimgray;
  color: white;
  font-size: 11px;
  text-align: left;
}
