body{
  text-align: center;
  font-family: helvetica;
}

.landing{
  background-image: url(../img/flatiron.png);
  background-repeat: no-repeat;
  background-size: cover;
}

h1{
  font-size: 70px;
  font-weight: bold;
  color: white;
}

.cta{
  font-size: 18px;
  color: white;
}
