/* generic styles */
body{
  font-family: "helvetica", sans-serif;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}

a{
  color: seashell;
}

h2,h4{
  margin: 0;
  padding: 10px;
}

/* header */

header{
  display: flex;
  border-bottom: 1px solid seashell;
  height: 69px;
  top: 0;
  z-index: 1;
  align-items: center;
  position: fixed;
  width: 100%;
  background-color: black;
}

.logo{
  display: flex;
  flex-grow: 1;
  padding-left: 10px;
}

.logo img{
  height: 50px;
}

nav span{
  display: inline-block;
  padding: 10px 20px;
} /* Q: Why the need for display: inline-block since they are span elements and by defaults show inline. */


/* Our Mission */
.mission{
  display: flex;
  align-items: center;
  height: 700px;
  width: 1200px;
  position: relative;
  top: 62px;
  margin: 0 auto;
  background-image: url("img/img-mission-background.jpg");
}

.text{
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: black;
  height: 123px;
  width: 100%;
}

/* Tea of the Month */
.menu{
  position:relative;
  top: 62px;
  padding-top: 50px;
  width: 1000px;
  margin: 0 auto;
}

.item{
  display: inline-block;
  padding: 10px;
}
.item img{
  height: 200px;
  width: 300px;
}
